[Unit]
Description=DNS Proxy Service
Documentation=https://github.com/AdguardTeam/dnsproxy
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/local/bin/dnsproxy \
  -u tls://1.1.1.1 \
  -u tls://1.0.0.1 \
  -u 'tls://[2606:4700:4700::1111]' \
  -u 'tls://[2606:4700:4700::1001]' \
  -u tls://9.9.9.9 \
  -u tls://149.112.112.112 \
  -u 'tls://[2620:fe::fe]' \
  -u 'tls://[2620:fe::9]' \
  -p 9053 -v
Restart=on-failure
RestartSec=5s

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
MemoryDenyWriteExecute=true
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged

[Install]
WantedBy=multi-user.target
