global:
  scrape_interval: 10s

scrape_configs:
  # - job_name: haproxy
  #   file_sd_configs:
  #     - files:
  #         - /etc/prometheus/targets/haproxy/*.yml

  - job_name: node-exporter
    static_configs:
      - targets:
          - localhost:9100
        labels:
          instance: {{ ansible_hostname }}

{% if fail2ban_exporter_enabled %}
  - job_name: fail2ban-exporter
    static_configs:
      - targets:
          - localhost:9191
        labels:
          instance: {{ ansible_hostname }}
{% endif %}
