[Unit]
Description=Wellknown Server

[Service]
ExecStartPre=/bin/mkdir -p /var/lib/www/.well-known/acme-challenge
ExecStart=/usr/bin/python3 -m http.server -d /var/lib/www 8001
WorkingDirectory=/var/lib/www
Restart=always
ReadOnlyPaths=/
ReadWritePaths=/var/lib/www

[Install]
WantedBy=multi-user.target
